node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
attached_assets/acesso.pagbank.com.br___gl=1_moxki5__gcl_au_Njc3MjU5Mjk4LjE3NDQzMTcwNDg.__ga_NjA5OTQ0ODguMTc0NDMxNzAxNw..__ga_VZW8YVGM9B_MTc0NjIxMTg2MS41LjEuMTc0NjIxMzE0NC4wLjAuMA..__ga_Q4ZPQF937E_MTc0NjIxMTg2MS41LjEuMTc0NjIxMzE0NC.png
